nav {
    background-color: #6d4df2;
}
/*#contact {
    position: relative;
    background: white;
    background-size: cover;
    background-image: url(../img/contact\ me.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#contact:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    height: 100%;
    z-index: 0.5;
    opacity: 1;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .text-center.mb-4.wow.fadeInLeft {
    text: black;
    font-weight: 300px;
  }*/